<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>site</servlet-name>
    <servlet-class>controlleur.TraiteSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/lister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/saisiSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/saveSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/UpdateSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>site</servlet-name>
    <url-pattern>/editer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>visiteur</servlet-name>
    <servlet-class>controlleur.TraiteVisiteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visiteur</servlet-name>
    <url-pattern>/listeVisiteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visiteur</servlet-name>
    <url-pattern>/supprimerVisiteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visiteur</servlet-name>
    <url-pattern>/nouveauVisiteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visiteur</servlet-name>
    <url-pattern>/saveVisiteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visiteur</servlet-name>
    <url-pattern>/editerVisiteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visiteur</servlet-name>
    <url-pattern>/updateVisiteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>visite</servlet-name>
    <servlet-class>controlleur.TraiteVisite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/listeVisite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/nouveauVisite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/saveVisite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/editerVisite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/supprimerVisite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/updateVisite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/chercher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>visite</servlet-name>
    <url-pattern>/visiteParSite</url-pattern>
  </servlet-mapping>
</web-app>